# editor build stuff
cmake-build-debug/
CMakeLists.txt

# other annoying stuff
.DS_Store
.idea/

# binaries and object files
gintsieve
gintsieve_test
opt/
*.so

# cython generated stuff
python/build/
python/src/gintsieve.cpp